body{
    background-color: black;
}

.fixed-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  .scrolling-section {
    width: 50%;
    height: 100vh;
    margin-left: 50%;
    overflow-y: scroll;
  }

