@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.main-container {
  display: flex;
  width: 100%;
  color: white;
}

.left {
  width: 50%;
  height: 100vh;
  padding: 6rem 0 6rem 12rem;
  background-color: #1a191d;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 50%;
  padding: 6rem 12rem 6rem 0;
  background-color: #1a191d;
  overflow-y: auto;
}

.indicator-container{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;  
}
.indicator {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Fira Code', monospace;
}

.indicator.active {
  color: #20c7e4;
}

.indicator.dimmed {
  color: #39575d /* Grey out other sections */
}

.section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.left-heading h1 {
  font-family: "Poppins", Sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.icons{
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.icons a {
  color: white; /* Inherit color from the icon */
  text-decoration: none; /* Remove underline */
}

/* Additional styling for icons */
.icons a:hover {
  color:#A9A9A9;
}

.project{
  display: flex;
}

/* .project img{
  height: 5rem;
  width: 5rem;
} */
.project img {
  height: 2rem;
  width: 10rem;
}
